<div id="milestones" class="flex0">
  <h2 class="corners dark">
    {{localize "wildsea.milestones"}}
    <a class="addItem" data-item-type="milestone">
      <i class="fas fa-plus"></i>
    </a>
  </h2>
  <div class="flexrow spaced">
    <div>
      <h3 class="corners mid">{{localize "wildsea.major"}}</h3>
      <p class="center corners light-transparent padded">{{localize "wildsea.none"}}</p>
    </div>
    <div>
      <h3 class="corners mid">{{localize "wildsea.minor"}}</h3>
      <p class="center corners light-transparent padded">{{localize "wildsea.none"}}</p>
    </div>
  </div>
</div>
