<div class="wildsea-compact-item wildsea-mire flexrow" data-item-id="{{id}}" data-item-type="{{type}}">
  <div class="flex3 slimContextMenu" data-item-id="{{id}}" data-item-type="{{type}}">
    {{#if text}}
      <p>{{text}}</p>
    {{else}}
      <p><em>{{localize "wildsea.missing"}}</em></p>
    {{/if}}
  </div>
  <div>
    {{> "systems/the-wildsea/templates/shared/track.hbs" track id=id type=type}}
  </div>
</div>
