<div id="resources" class="flex0">
  <h2 class="corners dark">
    {{localize "wildsea.resources"}}
    <a class="addItem" data-item-type="resource">
      <i class="fas fa-plus"></i>
    </a>
  </h2>
  <div class="flexcol spaced">
    {{#if (or (any system.salvage) (any system.specimen) (any system.whisper) (any system.chart))}}
      <div>
        {{#if (any system.salvage)}}
          <h3 class="corners mid">{{localize "wildsea.salvage"}}</h3>
          {{#each system.salvage as |item|}}
            {{> "systems/wildsea/templates/sheets/player/resource.hbs" item}}
          {{/each}}
        {{/if}}
      </div>
      <div>
        {{#if (any system.specimen)}}
          <h3 class="corners mid">{{localize "wildsea.specimens"}}</h3>
          {{#each system.specimen as |item|}}
            {{> "systems/wildsea/templates/sheets/player/resource.hbs" item}}
          {{/each}}
        {{/if}}
      </div>
      <div>
        {{#if (any system.whisper)}}
          <h3 class="corners mid">{{localize "wildsea.whispers"}}</h3>
          {{#each system.whisper as |item|}}
            {{> "systems/wildsea/templates/sheets/player/resource.hbs" item}}
          {{/each}}
        {{/if}}
      </div>
      <div>
        {{#if (any system.chart)}}
          <h3 class="corners mid">{{localize "wildsea.charts"}}</h3>
          {{#each system.chart as |item|}}
            {{> "systems/wildsea/templates/sheets/player/resource.hbs" item}}
          {{/each}}
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>
