<div id="resources" class="flex0">
  <h2 class="corners dark">{{localize "wildsea.resources"}}</h2>
  <div class="flexcol spaced">
    <div class="flexrow spaced">
      <div>
        <h3 class="corners mid">
          {{localize "wildsea.salvage"}}
          <a class="addItem" data-item-type="{{type}}">
            <i class="fas fa-plus"></i>
          </a>
        </h3>
        <div class="bordered"></div>
      </div>
      <div>
        <h3 class="corners mid">
          {{localize "wildsea.specimens"}}
          <a class="addItem" data-item-type="{{type}}">
            <i class="fas fa-plus"></i>
          </a>
        </h3>
        <div class="bordered"></div>
      </div>
    </div>
    <div class="flexrow spaced">
      <div>
        <h3 class="corners mid">
          {{localize "wildsea.whispers"}}
          <a class="addItem" data-item-type="{{type}}">
            <i class="fas fa-plus"></i>
          </a>
        </h3>
        <div class="bordered"></div>
      </div>
      <div>
        <h3 class="corners mid">
          {{localize "wildsea.charts"}}
          <a class="addItem" data-item-type="{{type}}">
            <i class="fas fa-plus"></i>
          </a>
        </h3>
        <div class="bordered"></div>
      </div>
    </div>
  </div>
</div>
