<div class="dice-pool-fields">
  {{{edgeField}}}
  {{{skillLanguageField}}}
  {{{advantageField}}}
  {{{cutField}}}

  <footer class="form-footer">
    <button type="button" data-action="submit">{{localize "wildsea.submit"}}</button>
    <button type="button" data-action="cancel">{{localize "wildsea.cancel"}}</button>
  </footer>
</div>
