<div class="item" data-item-id="{{id}}">
  <h4 class="wildsea-no-margin">
    <span class="itemContextMenu" data-action="collapseItem">{{name}}</span>
    {{#if (eq type "fitting")}}
      <small class="wildsea-damaged-{{system.damaged}} wildsea-cut-corners">
        {{localize 'wildsea.damaged'}}
      </small>
      <a class="damage-button" data-action="toggleFittingDamaged" data-fitting-id="{{id}}"><small><i class="fa-solid fa-heart-crack"></i></small></a>
      <small class="wildsea-text-mid">{{system.type}}</small>
    {{else}}
      <small class="wildsea-text-mid">{{localize (concat "wildsea." system.type)}}</small>
    {{/if}}
    <small class="wildsea-text-light">{{stakesText system.stakes}}</small>
  </h4>
  <div class="wildsea-detail-drawer {{#if system.collapsed}}hidden{{/if}}">
    {{{system.enrichedDetails}}}
  </div>
</div>
