<div class="wildsea-track-row {{track.displayVisibility}}" data-track-id="{{track.id}}">
  <a class="wildsea-track-label" {{#if @root.options.editable}}data-action="editTrack"{{/if}} {{#if (ne track.visibility 'open')}}data-tooltip="{{localize (concat "wildsea.TRACKS." track.visibility)}}"{{/if}}>{{label}}</a>
  <div class="wildsea-track-slots">
    {{#if (or @root.options.editable (eq track.visibility 'open'))}}
    {{{renderTrack track}}}
    {{/if}}
  </div>
  {{#if @root.options.editable}}
  <a class="wildsea-track-delete" data-action="deleteTrack">
    <i class="fas fa-trash"></i>
  </a>
  {{/if}}
</div>
