<div class="wildsea">
  <h3>
    Roll
  </h3>
  <div class="flexcol wildsea-gapped">
    <div class="dice-roll" data-action="expandRoll">
      <div class="dice-result">
        <h4 class="wildsea-cut-corners dice-formula">
          {{displayFormula}}
        </h4>
        <div class="dice-tooltip">
          <div class="flexcol wildsea-gapped">
            {{#if dicePool.edge}}
              <div class="flexrow wildsea-gapped">
                <label class="wildsea-padded flex2">{{localize "wildsea.edge"}}</label>
                <div class="wildsea-padded flex2">{{localize (concat "wildsea." dicePool.edge)}}</div>
                <div class="center wildsea-cut-corners wildsea-bg-muted wildsea-padded">
                  +{{dicePool.edgeDice}}d
                </div>
              </div>
            {{/if}}

            {{#if dicePool.rating}}
              <div class="flexrow wildsea-gapped">
                <label class="wildsea-padded flex2">{{localize "wildsea.rating"}}</label>
                <div class="wildsea-padded flex2">{{localize (concat "wildsea." dicePool.rating)}}</div>
                <div class="center wildsea-cut-corners wildsea-bg-muted wildsea-padded">
                  +{{dicePool.ratingDice}}d
                </div>
              </div>
            {{/if}}

            {{#if dicePool.skillType}}
              <div class="flexrow wildsea-gapped">
                <label class="wildsea-padded flex2">{{localize (concat "wildsea." dicePool.skillType)}}</label>
                <div class="wildsea-padded flex2">{{localize (concat "wildsea." dicePool.skillKey)}}</div>
                <div class="center wildsea-cut-corners wildsea-bg-muted wildsea-padded">
                  +{{dicePool.skillDice}}d
                </div>
              </div>
            {{/if}}

            {{#if (gt dicePool.advantage 0)}}
              <div class="flexrow wildsea-gapped">
                <label class="wildsea-padded flex2">{{localize "wildsea.advantage"}}</label>
                <div class="wildsea-padded flex2"></div>
                <div class="center wildsea-cut-corners wildsea-bg-muted wildsea-padded">
                  +{{dicePool.advantage}}d
                </div>
              </div>
            {{/if}}

            {{#if (gt dicePool.cut 0)}}
              <div class="flexrow wildsea-gapped">
                <label class="wildsea-padded flex2">{{localize "wildsea.cut"}}</label>
                <div class="wildsea-padded flex2"></div>
                <div class="center wildsea-cut-corners wildsea-bg-muted wildsea-padded">
                  {{dicePool.cut}}
                </div>
              </div>
            {{/if}}
          </div>

          <hr />

          <!-- results -->
          <ol class="dice-rolls">
            {{#each results as |result|}}
              <li class="roll die d6{{#if result.cut}} cut{{/if}}{{#if result.max}} max{{/if}}">{{result.result}}</li>
            {{/each}}
          </ol>
        </div>
        <h4 class="wildsea-cut-corners dice-total">
          {{total}}
        </h4>
        <h3 class="wildsea-cut-corners wildsea-bg-dark wildsea-padded center" data-tooltip="{{localize (concat "wildsea." resultText "Description")}}">
          {{localize (concat "wildsea." resultText)}}
        </h3>
        {{#if twist}}
        <h4 class="center wildsea-cut-corners wildsea-bg-mid wildsea-padded" data-tooltip="{{localize "wildsea.twistDescription"}}">
          {{localize "wildsea.twist"}}
        </h4>
        {{/if}}
      </div>
    </div>
  </div>
</div>
