<div class="wildsea flexcol wildsea-gapped">
  <div id="header" class="flexrow wildsea-gapped">
    <div class="flexrow wildsea-gapped">
      <div class="flex0 wildsea-portrait"><img src="{{item.img}}" data-edit="img" title="{{item.name}}" /></div>
      <div class="flexcol wildsea-gapped">
        <input id="name" class="wildsea-cut-corners" type="text" name="name" value="{{item.name}}" placeholder="{{localize "wildsea.name"}}" />
      </div>
    </div>
  </div>
  <div id="body">
    <h3 class="wildsea-cut-corners wildsea-bg-mid">{{localize "wildsea.details"}}</h3>
    {{> "systems/the-wildsea/templates/shared/description.hbs" content=system.enrichedDetails target="system.details"}}
  </div>
</div>
