<form class="wildsea">
  <div class="flexrow spaced">
    <div class="flexcol spaced">
      <div class="flex flex0 flexrow spaced">
        <div class="flex0 img"><img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" /></div>
        <div>
          <input id="name" class="corners" type="text" name="name" value="{{actor.name}}" placeholder="{{localize "wildsea.name"}}" />
        </div>
      </div>
      
      {{> "systems/wildsea/templates/sheets/ship/ratings.hbs"}}

      <div id="design" class="flex0">
        <h2 class="corners dark">Design</h2>

        <div class="flexrow corners">
          <div class="mid padded title uppercase text-lg">Stakes</div>
          <div class="center padded text-lg light-transparent">{{system.stakes.value}}</div>
          <div class="center padded text-lg light-transparent">{{system.stakes.max}}</div>
        </div>
      </div>
    </div>
    <div class="flexcol spaced">
      <div id="fittings" class="flex0">
        <h2 class="corners dark">Fittings</h2>

        <h3 class="corners mid">Motifs/Additions/Rooms</h3>
        <p class="center corners light-transparent padded">{{localize "wildsea.none"}}</p>

        <h3 class="corners mid">Armaments</h3>
        <p class="center corners light-transparent padded">{{localize "wildsea.none"}}</p>

        <h3 class="corners mid">Outriders</h3>
        <p class="center corners light-transparent padded">{{localize "wildsea.none"}}</p>
      </div>
    </div>
    <div class="flexcol spaced">
      <div id="conditions" class="flex0">
        <h2 class="corners dark">Conditions</h2>
        <p class="center corners light-transparent padded">{{localize "wildsea.none"}}</p>
      </div>
      <div id="undercrew" class="flex0">
        <h2 class="corners dark">Undercrew</h2>
        <p class="center corners light-transparent padded">{{localize "wildsea.none"}}</p>
      </div>
    </div>
    <div class="flexcol spaced">
      <div id="reputation" class="flex0">
      <h2 class="corners dark">Reputation</h2>
        <p class="center corners light-transparent padded">{{localize "wildsea.none"}}</p>
      </div>
      <div id="cargoPassengers" class="flex0">
        <h2 class="corners dark">Cargo and Passengers</h2>
        <p class="center corners light-transparent padded">{{localize "wildsea.none"}}</p>
      </div>
    </div>

  </div>
</form>
