<form class="wildsea">
  <div class="flexrow spaced">
    <div class="flexcol spaced">
      <div class="flex flex0 flexrow spaced">
        <div class="flex0 img"><img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" /></div>
        <div>
          <input id="name" class="corners" type="text" name="name" value="{{actor.name}}" placeholder="{{localize "wildsea.name"}}" />
        </div>
      </div>
      
      {{> "systems/wildsea/templates/sheets/ship/ratings.hbs"}}

      <div id="design" class="flex0">
        <h2 class="corners dark">Design</h2>

        <div class="flexrow corners">
          <div class="mid padded title uppercase text-lg">{{localize "wildsea.stakes"}}</div>
          <div class="center padded text-lg light-transparent">{{stakesUsed}}</div>
        </div>
      </div>
    </div>
    <div class="flexcol spaced">
      {{> "systems/wildsea/templates/sheets/ship/fittings.hbs"}}
    </div>
    <div class="flexcol spaced">
      {{> "systems/wildsea/templates/sheets/ship/conditions.hbs"}}
      {{> "systems/wildsea/templates/shared/aspects.hbs"
        aspects=system.undercrew
        title=(localize "wildsea.undercrew")
        type="undercrew"}}
    </div>
    <div class="flexcol spaced">
      {{> "systems/wildsea/templates/sheets/ship/reputations.hbs"}}
      <div id="cargoPassengers" class="flex0">
        <h2 class="corners dark">Cargo and Passengers</h2>
        <p class="center corners light-transparent padded">{{localize "wildsea.none"}}</p>
      </div>
    </div>

  </div>
</form>
