<div class="wildsea-aspect-card item" data-item-id="{{id}}">
  <h3 class="wildsea-aspect-title wildsea-bg-light wildsea-drag-handle">
    <span class="itemContextMenu" data-action="collapseItem">{{name}}</span>
    {{#if system.stakes includeZero=true}}
    <small class="wildsea-text-muted">{{stakesText system.stakes}}</small>
    {{/if}}
    <small class="wildsea-text-muted">{{system.type}}</small>
  </h3>
  {{> "systems/the-wildsea/templates/shared/track.hbs" system.track id=id type=type}}
  <div class="wildsea-detail-drawer {{#if system.collapsed}}hidden{{/if}}">
    {{{system.enrichedDetails}}}
  </div>
</div>
