<div class="wildsea-compact-item slimContextMenu wildsea-padded wildsea-rounded wildsea-border-thin" data-item-id="{{id}}" data-item-type="{{type}}">
    {{#if text}}
      {{text}}
    {{else}}
      <em>{{localize "wildsea.missing"}}</em>
    {{/if}}
</div>
